# Try It Activity 22.1: Reading Big Data

### Learning Outcome Addressed:

- 1. Compare applications of the Parquet and Feather formats to reading and writing big data.

## Try It Activity Overview:

In this Try It activity, you will be challenged to compare the reading and writing performances of the Apache Parquet and Feather formats on a *dataframe* with 2,000,000 rows.

## Part 1: Initializing the *Dataframe*

In the first part of this activity, you will create a toy *dataframe* titled `df` with 2,000,000 rows and 10 columns named from `A` to `J`. The first five columns will contain a random floating point number. The sixth and seventh columns will contain a random integer number between 0 and 10. The eighth and ninth columns will contain a random number between 0 and 1. Finally, the last column will contain a random Latin word from the `sentence` *module* in the `lorem` *library*.

Run the code cell below to create the `df` *dataframe*.

In [2]:
import numpy as np
import pandas as pd
from lorem import sentence

words = np.array(sentence().strip().lower().replace(".", " ").split())

# Set the seed so that the numbers can be reproduced.
np.random.seed(0)  
n = 2000000
df = pd.DataFrame(np.c_[np.random.randn(n, 5),
                  np.random.randint(0,10,(n, 2)),
                  np.random.randint(0,1,(n, 2)),
np.array([np.random.choice(words) for i in range(n)])] , 
columns=list('ABCDEFGHIJ'))

df["A"][::10] = np.nan

C:\Users\andre\AppData\Local\Temp\ipykernel_22028\1790534582.py:16: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["A"][::10] = np.nan

Run the code cell below to visualize the first five rows in the `df` *dataframe*.

In [3]:
df.head()

,A,B,C,D,E,F,G,H,I,J
0,NaN,0.4001572083672233,0.9787379841057392,2.240893199201458,1.8675579901499675,9,1,0,0,porro
1,-0.977277879876411,0.9500884175255894,-0.1513572082976979,-0.10321885179355784,0.41059850193837233,0,3,0,0,porro
2,0.144043571160878,1.454273506962975,0.7610377251469934,0.12167501649282841,0.44386323274542566,4,9,0,0,porro
3,0.33367432737426683,1.4940790731576061,-0.20515826376580087,0.31306770165090136,-0.8540957393017248,3,4,0,0,magnam
4,-2.5529898158340787,0.6536185954403606,0.8644361988595057,-0.7421650204064419,2.2697546239876076,6,4,0,0,porro

## Part 2: Writing to the Parquet and Feather Formats

Now it's time for you to write the data in the `df` *dataframe* to the Parquet and Feather formats and compare the performances.

**NOTE:** In the code cell below, the `%%time` *function* is called to calculate how long it takes to the code to execute.

### Question 1

Complete the code in the code cell below to write the data in the `df` *dataframe* to Parquet format. Name the file that will contain the `df.parquet` data.

In [5]:
%%time

#complete the code below
df.to_parquet('df.parquet')

CPU times: total: 1.53 s
Wall time: 3.81 s

### Question 2

Complete the code in the code cell below to write the data in the `df` *dataframe* to Feather format. Name the file that will contain the `df.ftr` data.

In [6]:
%%time

#complete the code below
df.to_feather('df.ftr')

CPU times: total: 641 ms
Wall time: 1.57 s

## Part 3: Reading the Parquet and Feather Formats

Finally, it's time for you to read the data stored in the Parquet and Feather formats and compare the performances.

### Question 3

Complete the code in the code cell below to read the data that you stored in Parquet format in Part 2. Assign the new *dataframe* to the `df_parquet` variable.

In [7]:
%%time

#complete the code below
df_parquet = pd.read_parquet('df.parquet')

CPU times: total: 2.91 s
Wall time: 4.28 s

### Question 4

Complete the code in the code cell below to read the data that you stored in Feather format in Part 2. Assign the new *dataframe* to the `df_feather` variable.

In [8]:
%%time 

#complete the code below
df_feather = pd.read_feather('df.ftr')

CPU times: total: 1.53 s
Wall time: 3.62 s